{% extends 'pages/base.html' %}
{% block content %}
<div class="container" style="margin-left: 35%; width: 100%; max-width: 400px; background-color: white; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); display: flex; flex-direction: column; padding: 20px;">
    <h2 style="margin: 0; font-size: 28px; text-align: center;">Add Two Numbers</h2>
    <main style="padding: 20px; text-align: center; flex: 1;">
        <form action="/arithmetic" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" style="background-color: #636363; color: white; border: none; padding: 10px 15px; border-radius: 4px; cursor: pointer; font-size: 16px;">Calc</button>
        </form>
        <p id="result" style="margin: 10px 0; font-size: 20px;">{{x}} + {{y}} = {{ o1 }}</p>
        <p id="result" style="margin: 10px 0; font-size: 20px;">{{x}} - {{y}} = {{ o2 }}</p>
        <p id="result" style="margin: 10px 0; font-size: 20px;">{{x}} * {{y}} = {{ o3 }}</p>
        <p id="result" style="margin: 10px 0; font-size: 20px;">{{x}} / {{y}} = {{ o4 }}</p>
        <p id="result" style="margin: 10px 0; font-size: 20px;">{{x}} mod {{y}} = {{ o5 }}</p>

    </main>
</div>
{% endblock %}
